*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url('assets/bg_img1.jpg');
    background-repeat: repeat;
    background-size: contain;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    border: 2px solid #333;
    background-color: #ff00009d;
    padding: 5px;
    margin: 5vw;
}
.cell {
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 17vh;
    height: 17vh;
    margin: auto;
    background-color: #ddff4d;
    cursor: crosshair;
}
.cell:hover{
    background-color: aquamarine;
}
characterImg{
    height: 10vh;
}

.gameinfo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(41, 61, 94, 0.63);
    width: fit-content;
    border-radius:  20px;
}
.gameinfo *{
    margin: 3px;
    border-radius:  20px;
    background-color: aqua;
    align-items: center;
}
#info{
    color: rgb(95, 67, 16);
    font-size: 4vh;
    padding: 10px;
}
#soundControl img{
    height: 3vw;
    padding: 5px;
}
h1{
    font-size: 6vh;
    padding: 10px;

}
#reset{
    width : fit-content;
    height : fit-content;
    font-size: 4vh;
    margin: 3px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4dff88d2;
}
#winner{
    display: none;
    color: #fff;
    opacity: 0.7;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 5vw;
    z-index: 1;
    height: fit-content;
    width: fit-content;
    padding: 3px;
    text-align: center;
}

.shadow::before,
.shadow::after {
content: '';
position: absolute;
top: -4px;
left: -4px;
background: linear-gradient(45deg,red,blue,green,yellow,#e11d74,black,#ffff00,#aa0000);
background-size: 400%;
width: calc(100% + 4px);
height: calc(100% + 4px);
z-index: -1;
animation: animate 5s linear infinite;
}

.shadow::after {
    filter: blur(25px);
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@media only screen and (max-width: 800px) {
    .cell{
        width: 14vh;
        height: 14vh;
    }
    h1{
        font-size: 6vw;
    }
}